{% extends 'index.html' %}

{% block mymessage %}
<br>
<br>
<table style="width: 100%;" >
  <tbody>
    <tr>
      <td style="width: 15%;" >&nbsp;</td>
      <td style="width: 70%;" >
<div class="card border-secondary shadow p-3 mb-5 bg-body rounded bg-dark">
  <div class="row">
    <div class="col" style="max-width: 5%;">
    </div>
    <div class="col" style="max-width: 30%;">
      <img class="rounded-circle z-depth-2" alt="100x100" src="http://russelnicosia.com/static/itsame2.jpg" data-holder-rendered="true">
    </div>
      <div class="col p-3 mb-2 border-secondary bg-dark text-white rounded-3" style="max-width: 60%;">
      <p>&nbsp;&nbsp;Greetings and thank you for taking the time to visit my site and to get to know me better. My name is Russel Nicosia and I have over 15 years of experience in various technical operations. Lately, I’ve been working in system operations and am looking to start bridging over into devops or even development.</p>
      <p>&nbsp;&nbsp;I know I have a long way to go, but I’m motivated to succeed. I understand that you have to fall in love with the process and not the result, and I’ve been very much enjoying the process so far. My focus right now is on Python, but I have had experience with many other languages over the years. I’m more focused on the back end of things at the moment, but really enjoy the entire stack. </p>
        <p>&nbsp;&nbsp;I’d like to get to a point where I can quickly and efficiently create any basic application that I want. I know that it will take time and that I need to keep going at it each and every day. I don't have much of a social presence at the moment, it is something I am working on though, but feel free to visit any of my social links up above.</p>
    </div>
    <div class="col" style="max-width: 5%;">
    </div>
  </div>
</div>
</td>
      <td style="width: 15%;" >&nbsp;</td>
    </tr>
  </tbody>
</table>

{% endblock %}